.cv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 25vh;
    button{
        background-color: rgb(255, 46, 81) ;
        margin: 150px;
            width: 120px;
            color: rgb(255, 255, 255);
            font-family: 'Dancing Script';
            border:none;
            font-size: 16px;
            font-weight: 600;
            border-radius: 12px;
            padding: 15px 25px;
            transition: 0.4s all ease-in-out;
    }
    button:hover{
            font-size: 18px;
    }
}

@media (max-width: 40rem) {

    .cv{
        button{
            margin: 10px;
                font-size: 16px;
        }
        button:hover{
                font-size: 16px;
        }
    }
}